# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/CMakeLists.txt
cmake-build-debug
.idea
.vscode


# Pierrick's files
documentation
huffman.code-workspace
.DS_Store
/.vs/slnx.sqlite
/.vs/FileCompression-Huffman/v16/ipch/AutoPCH/3c199c9a415fbe00/DICTIONARY.ipch
/.vs/FileCompression-Huffman/v16/Browse.VC.db-wal
/.vs/FileCompression-Huffman/v16/Browse.VC.opendb
/.vs/FileCompression-Huffman/v16/Browse.VC.db-shm
/.vs/FileCompression-Huffman/v16/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/FileCompression-Huffman/v16/ipch/AutoPCH/e598ac2384f80195/FILEMANAGMENT.ipch
/.vs/FileCompression-Huffman/v16/ipch/AutoPCH/ac280d3d3a12c17/MENU.ipch
/.vs/FileCompression-Huffman/v16/ipch/AutoPCH/5790faf32ffed24e/MAIN.ipch
/.vs/FileCompression-Huffman/v16/ipch/AutoPCH/54ec0904112250b1/SHOW.ipch
/.vs/FileCompression-Huffman/v16/ipch/AutoPCH/3ef1942ce115ee05/SCAN.ipch
