# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/CMakeLists.txt
cmake-build-debug
.idea
.vscode


# Pierrick's files
huffman.code-workspace
.DS_Store
/.vs/Huffman/v16/ipch/AutoPCH/a78aeebe9dfc1cf6/LINKEDLIST.ipch
/.vs/Huffman/v16/ipch/AutoPCH/9451b1306f880c0f/FILEMANAGMENT.ipch
/.vs/Huffman/v16/ipch/AutoPCH/b8029a443c699e89/HUFFMANTREE.ipch
/.vs/Huffman/v16/ipch/AutoPCH/cc7d5cceb34e0c69/FILE.ipch
/.vs/Huffman/v16/ipch/AutoPCH/f2a94727060fe76b/TESTS.ipch
/.vs/Huffman/v16
/.vs
